<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container px-md-5">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">
                        <a href="mailto:austinsketches@gmail.com" title="email austinsketches@gmail.com">
                            Have a question?
                        </a>
                    </h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><a href="#"><span class="icon icon-map-marker"></span><span class="text">Greenville, SC</span></a>
                            </li>
                            </li>
                            <li><a href="mailto:austinsketches@gmail.com"><span class="icon icon-envelope"></span><span
                                        class="text">austinsketches@gmail.com</span></a>
                            </li>
                        </ul>
                    </div>
                    <h1 class="neverstopcreating">NEVER&nbsp;STOP&nbsp;CREATING.</h1>
                </div>
            </div>
        </div>
    </div>
</footer>