<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black">
  <a class="navbar-brand" href="{% url 'home' %}">AJH.</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse-menu"
    aria-controls="collapse-menu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapse-menu">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" rel="noopener" target="_blank" href="https://www.redbubble.com/people/austinjhunt/shop"> <i
            class="fa fa-tshirt"></i> Art Shop</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'commissions' %}">Commission Me</a>
      </li>
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link disabled text-white" href="#">Welcome, {{ user.first_name }}!</a>
      </li>
      {% endif %}

      {% if user.is_superuser %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="manageDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Manage
        </a>
        <div class="dropdown-menu" aria-labelledby="manageDropdown">
          <a class="dropdown-item" href="{% url 'upload' %}"><i class="fa fa-upload"></i> Add Content</a>
          <a class="dropdown-item" href="{% url 'manage-orders' %}" title="manage orders">
            <i class="fa fa-cash-register"></i> Manage Commissions
          </a>
          <a class="dropdown-item" href="{% url 'update-profile' %}"><i class="fa fa-edit"></i> Edit Profile</a>
          <a class="dropdown-item" href="{% url 'update-profile-image' %}"><i class="fa fa-edit"></i> Edit Profile
            Image</a>
          <a class="dropdown-item" href="{% url 'portfolio-manage' %}"><i class="fa fa-edit"></i> Manage Portfolio
            Items</a>
        </div>
      </li>
      {% endif %}
      {% if not user.is_authenticated %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Account
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdown">
          <a class="dropdown-item" href="{%  url 'login' %}"><i class="fa fa-sign-in-alt"></i> Sign In</a>
          <a class="dropdown-item" href="{%  url 'signup' %}"><i class="fa fa-user-plus"></i> Create Account</a>
        </div>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">About</a>
      </li>

      {% if user.is_authenticated %}

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="my-stuff-dropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user"></i> Profile
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="my-stuff-dropdown">
          <a class="dropdown-item position-relative" title="check out" href="{% url 'checkout' %}">
            <i class="fa fa-shopping-cart"></i>
            My Cart
            <span
              class="cart-badge badge-danger {% if cart_items.count == 0 %} d-none {% endif %}">{{cart_items.count}}</span>
            <style>
              .cart-badge {
                padding: 3px 5px 2px;
                position: absolute;
                top: 0px;
                right: 0px;
                display: inline-block;
                min-width: 10px;
                font-size: 12px;
                font-weight: bold;
                color: #ffffff;
                line-height: 1;
                vertical-align: baseline;
                white-space: nowrap;
                text-align: center;
                border-radius: 10px;
              }

              .badge-danger {
                background-color: #db5565;
              }
            </style>
          </a>
          <a class="dropdown-item" title="my commissions" href="{% url 'orders' %}">
            <i class="fa fa-palette"></i>
            My Commissions
          </a>
          <a class="dropdown-item" href="{% url 'logout' %} "><i class="fa fa-sign-out-alt"></i> Sign Out</a>
        </div>
      </li>

      {% endif %}
    </ul>
  </div>
</nav>