{% for p in portfolio1 %}
<div class="col-xs-1 col-sm-1 col-md-3 col-lg-3  ftco-animate portfolioItem" data-aos="fade-down">
    <a data-id="{{p.id}}" href="{{p.s3_copied_smaller_drawing_private_url}}" class="portfolio-entry img image-popup d-flex justify-content-center align-items-center" style="background-image: url({{p.s3_copied_smaller_drawing_private_url}});">
        <div class="overlay"></div>
        <div class="text text-center">
            <h3>{{ p.portrait_name }}</h3><span class="tag">{{ p.tag }}</span><br /><span class="tag">{{ p.date }}</span>
        </div>
    </a>
</div>
{% endfor %}
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ftco-animate portfolioItem" data-aos="fade-down">
    <a href="https://www.redbubble.com/people/austinjhunt/shop" class="portfolio-entry img d-flex justify-content-center align-items-center" >
        <div class="text text-center">
            <h3>Merch</h3><span class="tag">t-shirts, stickers, posters &amp; more</span><br />
        </div>
    </a>
</div>
{% for p in portfolio2 %}
<div class="col-xs-1 col-sm-1 col-md-3 col-lg-3  ftco-animate portfolioItem" data-aos="fade-down">
    <a data-id="{{p.id}}" href="{{p.s3_copied_smaller_drawing_private_url}}" class="portfolio-entry img image-popup d-flex justify-content-center align-items-center" style="background-image: url({{p.s3_copied_smaller_drawing_private_url}});">
        <div class="overlay"></div>
        <div class="text text-center">
            <h3>{{ p.portrait_name }}</h3><span class="tag">{{ p.tag }}</span><br /><span class="tag">{{ p.date }}</span>
        </div>
    </a>
</div>
{% endfor %}
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ftco-animate portfolioItem" data-aos="fade-down">
        <a href="{% url 'commissions' %}" class="portfolio-entry img d-flex justify-content-center align-items-center" >
            <div class="text text-center">
                <h3>Commission Me</h3><span class="tag">Get a custom drawing!</span><br/><span class="tag"> Card payment is available with a free account!</span><br />
            </div>
        </a>
</div>
{% for p in portfolio3 %}
<div class="col-xs-1 col-sm-1 col-md-3 col-lg-3  ftco-animate portfolioItem" data-aos="fade-down">
    <a data-id="{{p.id}}" href="{{p.s3_copied_smaller_drawing_private_url}}" class="portfolio-entry img image-popup d-flex justify-content-center align-items-center" style="background-image: url({{p.s3_copied_smaller_drawing_private_url}});">
        <div class="overlay"></div>
        <div class="text text-center">
            <h3>{{ p.portrait_name }}</h3><span class="tag">{{ p.tag }}</span><br /><span class="tag">{{ p.date }}</span>
        </div>
    </a>
</div>
{% endfor %}
<style>
    .portfolioItem .overlay .btn {
        z-index: 20;
        width: 25%;
        border-radius: 3px;
        font-size: 1.4em;
        opacity: 1.0;
        position: absolute;
        top: 0;
        right: 0;
    }
</style>