{% extends 'master.html' %}
{% block content %}
<div class="container">
    <h1 class="text-light">Managing Order {{order.id}}</h1>
    <p class="text-light">"{{order.product.name}}", commissioned on {{order.timestamp}} by
        {{order.user_profile.user.username}}</p>
    <form class="bg-light" action="{% url 'manage-order' order.id %}" method="post">
        {% csrf_token %}
        <div class="form-group p-3">
            <label for="status-choice">Current Status</label>
            <select name="status-choice" id="status-choice" class="form-control">
                {% for value, text in status_choices %}
                {% if value == order.product.status %}
                <option selected="selected" value="{{value}}">{{text}}</option>
                {% else %}
                <option value="{{value}}">{{text}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group p-3">
            <label for="completion-date">Completion Date</label>
            <input value="{{order.product.completion_date|date:'c'}}" type="date" name="completion-date"
                id="completion-date" class="form-control">
        </div>
        <div class="form-group p-3">
            <label for="is-test-purchase">Used for Testing?</label>
            {% if order.test %}
            <input type="checkbox" name="is-test-purchase" class="form-control" checked>
            {% else %}
            <input type="checkbox" name="is-test-purchase" class="form-control">
            {% endif %}
        </div>
        <div class="form-group p-3">
            <button class="btn btn-md btn-primary" type="submit">Update Order Status</button>
        </div>
    </form>
</div>
{% endblock %}