{% extends "master.html" %}
{% load static %}
{% block content %}
<style>
    .upload_container{
        text-align: center;
        width:50%;
        margin:0 auto;
        background-color: #dddddd;
        color:black;
        height: 100vh;
        display: grid;
        align-content: center;
    }
</style>
<div class="upload_container">
      <div >
        <p>Choose an image to upload (first give it a proper filename), name it, then click upload.</p>
      </div>
        <form style="text-align:center;" method="post" enctype="multipart/form-data" method="post" action="/upload">
            <input placeholder="Portrait Title" name="portraitname">
            <input placeholder="Date Drawn" type="date" name="date">
            <input type="file" name="newfile">
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
      <div>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
</div>

{% endblock %}
