{% extends "master.html" %}
{% load static %}
{% block content %}
<div class="container py-3 text-light">
  <p>Choose an image to upload (first give it a proper filename), name it, then click upload.</p>
  <form class="text-left" method="post" enctype="multipart/form-data" action="/upload">
    <input class="form-control mb-2" placeholder="Title" name="portraitname">
    <input class="form-control mb-2" placeholder="Tag" name="tag">
    <input class="form-control mb-2" placeholder="Date Drawn" type="date" name="date">
    <input class="form-control mb-2" type="file" name="newfile">
    <button type="submit" class="btn btn-primary mb-2">Upload</button>
  </form>
</div>
{% endblock %}