/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

#init_right_triangle{
  width:0px;
  height:0px;
  border-style:solid;
  border-width: 700px 0 0 700px;
  border-color: transparent transparent transparent #cc0c00;
  position:fixed;
  z-index:1;
  left: 0;
  margin-left: -3em;
  bottom:0;
}
#about{
  color:white;
  font-weight:bold;
  text-align: left;
  display:none;
  max-height: 70%;
  bottom: 8%;
}
.who_am_i_button{
  color:white;
  z-index:5;
  border:none;
  font-size:2vh;
  border-radius:10px;
  font-weight:bold;
  padding:10px;
  margin:5px;
}
.commission_me_button{
    color:black;
    z-index:5;
    border:none;
    font-size:2vh;
    border-radius:10px;
    font-weight:bold;
    padding:10px;
    margin:5px;
    position:fixed;
    background: yellow;
    left:5%;
    bottom:8%;
    cursor:pointer;
  }
.whoami1{

  position:fixed;
  background: blue;
  left:20%;
  bottom:8%;
}
.whoami2{
  background:red;
  left:6%;
  bottom:3%;
}
.me_foreground{
  position:fixed;
  z-index:3;left:0;
  margin-left:-5em;
  bottom:0;
  height: 76%;
}
#topbar{
  background-color:black;
  position:fixed;
  z-index:12;
  width:100%;
  height:60px;
  text-align:right;
  padding-top:10px;
  padding-bottom:10px;
  padding-right:10px;
}

#topbar .right{
  margin-right: 8px;
}
#topbar .left{
  float:left;
  margin-left:8px;
}
#topbar button, #topbar a{
    background-color:white;
    padding:8px;
    font-size:1.3em; ;
    color:black ;
    font-weight:bold;
    border-radius:8px;
    margin-top:10px;

}
#topbar p{
  font-weight: bold;
    font-size: 1.3em;
    display: inline-block;
    color: white;
}

.loginformcontainer, .signupformcontainer{
  text-align:center;
  background-size:contain;
}
.blackcontainer{
  background-color:black;
  width:70%;
  padding:10px;
  text-align:center;
  margin:0 auto;
  margin-top:15%;
}
.loginformcontainer h1,.signupformcontainer h1{
  color:white;
  font-weight:bold;
}
.signupformcontainer h2{
  color:red;
  font-weight:bold;
}
.loginform{
  margin: 0 auto;
  width: 95%;
    align-content: center;
    color: red;
    text-align: center;
  padding:10px;
}
.loginform input{
  background:white;
  color:black;
  display:block;
  border:1px solid black;
  border-radius: 7px;
  padding:8px;
  width:70%;
  margin:0 auto;
  margin-top:3px;
  margin-bottom:3px;
  text-align:center;
}
.loginform input:focus {
  color:blue;
  font-weight:bold;
}
.loginform .submitbtn{
  color:white;
  background: black;
}

.delete-item-button{
  z-index: 5;
  top: 5px;
  left: 5px;
  position:absolute;
  opacity:0;
}

.neverstopcreating{
  font-size: 2em;
  color:white;
}

/* Begin Chat */
.chat-container{
  height:84vh;
  width:85%;
  border: 1px solid lightgrey;
  margin:10px auto;
  border-radius:15px;
  overflow:hidden;
  padding:0 !important;
}
.chat-body{
  background: floralwhite;
  width: 100%;
  overflow-y: scroll;
  height:90%;
}
.chat-message-textarea-container{
    padding: 3px;
    height:10%;
    margin-bottom:0;
    background-color: #a9a9a9;
    display:flex;
  width:100%;

}
.chat-message-textarea{
  border-radius:10px;
  color:black;
  height:100%;
  width:90%;
  display:inline-block;

}
#send_message_button{
  display: inline-block;
    background: #148dff;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    width: 8%;
}


.message_container{ /* will contain: timestamp top, message below, and initials to either the left or right */
  display:block;
  width:100%;
  padding:8px;
}
.client_message_container{
  text-align:right;
}
.super_message_container{
  text-align:left;
}
.message_timestamp{
  color:grey;
  font-size: 1.1em;
}
.message{
  width:30%;
  border-radius:10px;
  padding:5px;
  font-size:1.2em;
  display:inline-block;
  margin: 5px;
}
.inits{
  border-radius:50%;
  font-size: 1em;
  padding:3px;
  text-align:center;
  height:30px;
  width:30px;
  display:inline-block;
}
.super_inits{
  left:0;
  color:white;
  background:black;
}
.client_inits{
  right:0;
  background-color: #148dff;
  color:white;
}
.super_message{
  background: #d3d3d3;
  color:black;
}
.client_message{
  background: #148dff;
  color:white;
}
/* End chat */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
#topbar{
    padding-top:0px;
    padding-bottom:0px;
    padding-left:0px;
    padding-right:0px;
    position: sticky;
    top:0px;
    z-index:5;
    display:grid;
    grid-template-columns: [line1] 25% [line2] 25% [line3] 25% [line4] 25% [end];
}
#topbar a,#topbar button{
    padding-top:.8rem;
}
#topbar button, #topbar a, #topbar a i{
    background-color:white;
    font-size:1.4em;
    color:black ;
    font-weight:bold;
    border-radius:0;
    height:100%;
    text-align:center;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:0px;
    margin-right:0px;
}
/* header */
p.welcome_msg{
    display:none !important;
}
.signinbutton{
    grid-column-start: line3;
    grid-column-end: line4;
}
.signupbutton{
    grid-column-start: line4;
    grid-column-end: end;

}
.headerbutton{
    margin:0;
    border-radius:0;
    height:100%;
    padding:7px;
}

  #init_right_triangle{
    border-width: 300px 0 0 300px;
  }
  .colorlib-nav-toggle{
      /* bars on bottom left */
      color:white;
      position: fixed;
        bottom: 0;
        left: 0;
        top: auto;
  }
  .colorlib-nav-toggle i::before{
      color:white;
      background:white;
  }
  .colorlib-nav-toggle i::after{
      color:white;
      background:white;
  }
  .colorlib-nav-toggle i{
      color:white;
      background:white;
  }
  body.offcanvas #colorlib-aside{
      width:100%;
  }
  #colorlib-aside{
    background-color:blue !important;
    padding-left: 1em;
    padding-right:1em;
  }
  #about{
    font-size:2vh;
    padding:3px;
    overflow: auto;
    border:none;
  }
.who_am_i_button{
    left:auto;
    right:2%;
    bottom:40%;
    background:black;
    font-size: 2rem;
  }
  .commission_me_button{
      left:2%;
      bottom:2%;
  }

.loginformcontainer, .signupformcontainer{
  text-align:center;
  background-size:contain;
}
.blackcontainer{
  background-color:black;
  width:90%;
  padding:3px;
  text-align:center;
  margin:0 auto;
  margin-top:5%;
}
.loginformcontainer h1,.signupformcontainer h1{
  color:white;
  font-weight:bold;
}
.signupformcontainer h2{
  color:red;
  font-weight:bold;
}

.loginform{
  margin: 0 auto;
  width: 95%;
    align-content: center;
    color: red;
    text-align: center;
  padding:3px;
}
.loginform input{
  background:white;
  color:black;
  display:block;
  border:1px solid black;
  border-radius: 3px;
  padding:3px;
  width:90%;
  margin:0 auto;
  margin-top:3px;
  margin-bottom:3px;
  text-align:center;
}
.loginform input:focus {
  color:blue;
  font-weight:bold;
}
.loginform .submitbtn{
  color:white;
  background: black;
}

/* Begin Chat */
.chat-container{
  height:84vh;
  border: 1px solid lightgrey;
  margin:10px auto;
  border-radius:15px;
  overflow:hidden;
  padding:0 !important;
  font-size: 1em !important;
  width:100%;
}
.chat-message-textarea{
  border-radius:10px;
  color:black;
  height:100%;
  width:80%;
  display:inline-block;

}
#send_message_button{
  display: inline-block;
    background: #148dff;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    width: 17% ;
}
}
