{% extends 'master.html' %} {% block content %}

<div class="container pt-5  d-none d-lg-block">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <h2 class="text-light">About the Artist</h2>
            <p>
                {{bio}}
            </p>
            <div>
                <a target="_blank" href="https://austinjhunt.com" class="mx-2"><i class="fab fa-github"></i> Professional Portfolio</a>
                <a target="_blank" href="https://linkedin.com/in/huntaj" class="mx-2"><i class="fab fa-linkedin"></i> LinkedIn</a>
                <a target="_blank" href="https://instagram.com/sketchyactivity" class="mx-2"><i class="fab fa-instagram"></i> Instagram</a>
                <a target="_blank" href="https://www.youtube.com/channel/UCREiV9l1tgQpwG1xCOwo0Iw" class="mx-2"><i class="fab fa-youtube"></i> YouTube</a>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 align-items-center align-content-center d-flex">
            <div class="profile-image grayscale-color-hover">
                <img src="{{profile_image}}" alt="profile image">
            </div>
        </div>

    </div>
</div>


<div class="container py-2 d-lg-none">
    <div class="mb-3">
        <h2 class="text-light">About the Artist</h2>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6  align-items-center align-content-center d-flex my-3">
            <div class="profile-image">
                <img src="{{profile_image}}" alt="profile image">
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                {{bio}}
            </p>
            <div>
                <a target="_blank" href="https://austinjhunt.com" class="mx-3 my-2 d-block"><i class="fab fa-github"></i> Professional Portfolio</a>
                <a target="_blank" href="https://linkedin.com/in/huntaj" class="mx-3 my-2 d-block"><i class="fab fa-linkedin"></i> LinkedIn</a>
                <a target="_blank" href="https://instagram.com/sketchyactivity" class="mx-3 my-2 d-block"><i class="fab fa-instagram"></i> Instagram</a>
                <a target="_blank" href="https://www.youtube.com/channel/UCREiV9l1tgQpwG1xCOwo0Iw" class="mx-3 my-2 d-block"><i class="fab fa-youtube"></i> YouTube</a>
            </div>
        </div>
    </div>
</div>

<style>
    .grayscale-color-hover {
        filter: grayscale();
    }

    .grayscale-color-hover:hover {
        filter: grayscale(0);
        transition: 0.3s linear;
    }

    .profile-image {
        border-radius: 10%;
        border-style: double double;
        overflow: hidden;
        width: 60%;
        margin: 0 auto;
    }

    .profile-image img {
        width: 100%;
    }
</style>

{% endblock %}