
<video id="scrollvideo" class="scrollvideo" tabindex="0" , autobuffer preload>
    <source type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' src="{{private_video_url}}">
    </source>
</video>
<script>
    function scrollVideo() {
        $("#video_scroll_animation_container").height($("#scrollvideo").height());
        var video = $('#scrollvideo').get(0),
            videoLength = video.duration,
            // get the vertical scrollbar position for the document. 
            //scrollPosition = $(document).scrollTop();
            // animate video relative to the parent container, not the document/viewport. 
            scrollPosition = $(document).scrollTop();
        
        video.currentTime = (scrollPosition / ($("#video_scroll_animation_container").height() - $(window).height())) * videoLength;
        console.log("Current time: " + video.currentTime);
        console.log("Scroll Position: " + scrollPosition);
        console.log("Video duration/length: " + videoLength);

    }

    $(window).scroll(function (e) {
        scrollVideo();
    });
</script>
<style>
    /* video animation */
    .scrollvideo {
        position: absolute;
        margin:0 auto;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: 10;
        background-size: cover;
    }

    #set-height {
        width: 100%;
        min-height: 100%
    }

    /* end video animation */
</style>