<div class="container py-2 bio-container">
    <div class="desktop_bio">
        <div id="bio_desktop" class="color-change-2x">
            <h1 id="bio_header" class="text-light bio_header bio_text">who am i?</h1>
            <div data-aos="fade-right" data-aos-offset="0" class="text-light bio_content bio_text">
                {{bio}}
            </div>
        </div>
    </div>
    <div class="mobile_bio">
        <div id="bio_mobile" class="color-change-2x">
            <h1 id="bio_header" class="text-light bio_header bio_text">who am i?</h1>
            <div data-aos="fade-right" data-aos-offset="0" class="text-light bio_content bio_text">
                {{bio_1}}
            </div>
        </div>
    </div>
</div>