<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container px-md-5">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Have a question?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><a href="#"><span class="icon icon-map-marker"></span><span class="text">Downtown
                                        Charleston, SC</span></a>
                            </li>
                            <li><a href="tel:8643533171"><span class="icon icon-phone"></span><span class="text">+1 864
                                        353 3171</span></a>
                            </li>
                            <li><a href="mailto:austinsketches@gmail.com"><span class="icon icon-envelope"></span><span
                                        class="text">austinsketches@gmail.com</span></a>
                            </li>
                        </ul>
                    </div>
                    <h1 class="neverstopcreating">NEVER&nbsp;STOP&nbsp;CREATING.</h1>
                </div>
            </div>
        </div>
        <div class="row" style="font-size:3px; margin:0px auto; padding:0px;">
            <div class="col-md-12">

                <p style="color:#242423">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script>
                    All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a
                        style="color:#242423" href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</footer>