<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:black">
  <a class="navbar-brand" href="/">Austin Hunt Portraiture</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse-menu" aria-controls="collapse-menu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapse-menu">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        {% if user.is_authenticated %}
          <li class="nav-item">
                <a class="nav-link disabled text-white" href="#" >Welcome, {{ user.first_name }}!</a>
          </li>
          {% if user.is_superuser %}
            <li class="nav-item">
                  <a class="nav-link" href="/upload"><i class="fa fa-upload"></i> Add Content</a>
            </li>
            <li class="nav-item">
                  <a class="nav-link" href="/update_profile"><i class="fa fa-edit"></i> Edit Profile</a>
            </li>
          {% endif %}
          <li class="nav-item">
              <a class="nav-link" href="/logout"><i class="fa fa-sign-out-alt"></i> Sign Out</a>
          </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/login"><i class="fa fa-sign-in-alt"></i> Sign In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signup"><i class="fa fa-user-plus"></i> Create Account</a>
            </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="/commissions"><i class='fa fa-palette'></i> Commissions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.redbubble.com/people/austinjhunt/shop"><i class='fa fa-store'></i> Support</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/"><i class='fa fa-home'></i> Home</a>
        </li>
    </ul>
  </div>
</nav>