{% for p in portfolio %}
<div class="col-xs-1 col-sm-1 col-md-3 col-lg-3  ftco-animate portfolioItem" data-aos="fade-down">
    <a data-id="{{p.id}}" href="{{p.s3_copied_smaller_drawing_private_url}}" class="portfolio-entry img image-popup d-flex justify-content-center align-items-center" style="background-image: url({{p.s3_copied_smaller_drawing_private_url}});">
        <div class="overlay"></div>
        <div class="text text-center">
            <h3>{{ p.portrait_name }}</h3><span class="tag">{{ p.tag }}</span><br /><span class="tag">{{ p.date }}</span>
        </div>
    </a>
</div>
{% endfor %}
<style>
    .portfolioItem .overlay .btn {
        z-index: 20;
        width: 25%;
        border-radius: 3px;
        font-size: 1.4em;
        opacity: 1.0;
        position: absolute;
        top: 0;
        right: 0;
    }
</style>