<div class="pricing-container">
    <h1 class="pricing-header">pricing</h1>
    <div class="prices-container">
        {% autoescape off %} 
            {% for p in prices %}
                <div class="price">
                    <div class="price-description">
                        {{p.description}} - ${{p.amount}}
                    </div>
                </div>
            {% endfor %}
        {% endautoescape %}
    </div>
</div> 
<style>
    .pricing-container{
        background:black; 
        text-align:center;
        padding:10px;
    }
    .pricing-header{
        color:white;
        font-size: 6em;
        font-weight:600;
        text-decoration: underline;
    }
    .prices-container{ 
        padding:10px;
        text-align:center; 
    }
    .prices-container .price { 
        font-size: 1.1em;
        font-weight:400;
        line-height: 1;
        margin: 8px;
    }
    .price-description{
        color:white;
    } 
    .price-description a {
        color: lightblue;
        font-size: 1.1em; 

        font-weight:400; 
    }
</style>