{% load pricing %}

<div class="container">
    <h1 class="text-light" style="font-size: 1.6rem">commission me</h1>
    <h2 class="text-light">portraits make great gifts <i class="fa fa-gift"></i> <i class="fa fa-smile"></i></h2>
    {% if meta.sale %}
    <h3 class="text-light">
        <strong style="color:rgb(50, 98, 231) ">{{meta.sale_amount|to_pretty_percent}}</strong> OFF UNTIL
        <strong style="color:red">{{meta.sale_end}}</strong>
    </h3>
    {% endif %}
    {% if user.is_authenticated %}
    <p class="text-light my-2" style="font-size: 1.2rem;">
        You can use the below dropdowns to order a custom drawing from me!
        You can find any order you submit in <a href="{% url 'checkout' %}">your cart</a>,
        where you can check out with a card! You can also get to your cart by clicking the Profile
        dropdown in the top navbar. If you have anything in your cart, there
        will be a little red badge in the navbar indicating how many items are in there.
    </p>
    <p class="text-light my-2" style="font-size: 1.2rem;">
        On your <a href="{% url 'orders' %}">My Commissions</a> page (also in the Profile dropdown), you can view a
        record of all commissions
        you've requested, and you can even monitor the status of active commissions!</p>
    {% else %}
    <p class="text-light my-2" style="font-size: 1.2rem;">
        It looks like you're not logged in. If you would like to commission me for a custom
        drawing, please <a href="{% url 'signup' %}">create a free account</a> and then come back to this page.
        Having an account means you can pay with card, keep a record of your commissions, and even monitor the
        status of your commissions.
    </p>
    {% endif %}

    <form class="my-3" action="{% url 'add-to-cart' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="size-style-price-choice">Choose Drawing Size &amp; Style</label>
            <select required style="font-size: 1rem" class="form-control" name="size-style-price-choice"
                id="size-style-price-choice">
                <option value="null">Select a size &amp; style</option>
                {% for drawing_choice in drawing_choices %}
                <option value="{{drawing_choice.value}}">{{drawing_choice.display_name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group referenceImageFormGroup">
            <label for="referenceImage">
                Please provide a reference image for the commission
            </label>
            <input accept="image/png, image/jpeg" id="referenceImage" name="referenceImage" class="form-control"
                type="file" required aria-describedby="referenceImageHelp">
        </div>
        <div class="form-group">
            <label for="commission-name">Commission Title</label>
            <input class="form-control" name="commission-name" id="commission-name" required>
            <span>Give your commissioned drawing a short descriptive name, e.g. "brother, 2007'. This will display on
                your
                commissions / orders page.</span>
        </div>
        <div class="text-center">
            <input type="submit" class="btn btn-small btn-danger" value="Request">
        </div>
    </form>


</div>