.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #100c08;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.loader {
    display: flex;
}

.loader .line {
    background: white;
    height: 60px;
    width: 5px;
    margin: 10px 10px;
    -webkit-animation: moveup 0.5s linear infinite alternate;
    animation: moveup 0.5s linear infinite alternate;
}

.loader .line.right {
    -webkit-animation: movedown 0.5s linear infinite alternate;
    animation: movedown 0.5s linear infinite alternate;
}

.loader .ball {
    position: relative;
    top: 30px;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    -webkit-animation: bounce 0.5s linear infinite alternate;
    animation: bounce 0.5s linear infinite alternate;
}

@-webkit-keyframes moveup {
    0% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(10px);
    }
}

@-webkit-keyframes movedown {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

@-webkit-keyframes bounce {
    0% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(10px);
    }
}