{% extends "master.html" %} {% load static %} {% block content %} {% load crispy_forms_tags %}

<div class="container my-3">
    <h2 class="text-light">Manage Portfolio Item {{object.portrait_name}}</h2>
    <img src="{{object.s3_copied_smaller_drawing_private_url}}" class="w-25">

    <form method="post">
        {% csrf_token %} {{ form|crispy }}
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <input type="submit" class="btn btn-success" value="Update">
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 text-right">
                <a title="delete portfolio item" class="btn btn-danger" href="/pitem/{{object.id}}/delete">
                    <i class='fa fa-trash'></i> Delete
                </a>
            </div>
        </div>
    </form>
</div>
{% endblock %}