{% extends 'master.html' %}
{% block content %}
<div class="container py-3">
    {% if orders.count > 0 %}
    <h2 class="text-light">
        Drawings You've Commissioned
    </h2>
    <div class="row my-4">
        {% for o in orders %}
        <div class=" col-xs-12 col-md-4 ">
            <div class="cart-item-card card m-1 text-center ">
                {% if o.product.s3_reference_image_url %}
                <img src="{{o.product.s3_reference_image_url}}"
                    alt="{{item.name}} reference" style="max-width: 100%; max-height:300px; margin:0 auto;">
                {% else %}
                <span>No reference image</span>
                {% endif %}

                <div class="card-body text-left">
                    <h5 class="card-title">{{o.product.name}}, ${{o.product.price}}</h5>
                    <p class="card-text text-dark text-left">
                        <span>{{o.product.description}}</span><br />
                        <span>Commissioned on {{o.timestamp}}</span><br />
                        <span>Status: {{o.product.get_status_display}}</span><br />
                        <span>Completed on: {% if o.product.status == 'CMPLT' %}
                            {{o.product.completion_date}}
                            {% else %}
                            Not Complete
                            {% endif %}</span>
                    </p>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
    {% else %}
    <h2 class="text-light">
        You have not yet commissioned any drawings. If you'd like to commission me, you can choose items from the
        <a href="{% url 'commissions' %}" title="commissions">commissions page.</a>
    </h2>
    {% endif %}

</div>
{% endblock %}