{% extends "master.html" %} {% block content %}
<div class="bg-black position-relative pt-5 text-center">
    <br/><br/><br/>
    <div class="bg-black position-relative">
        <h2 class="text-light font-weight-bold">Log In to SketchyActivity</h2>
        <form class="loginform" method="post" action="{% url 'login' %}">
            {% csrf_token %} {{ form.as_table }}
            <input style=" background:rgba(68, 8, 8, 0.875); font-size: 1.2rem; color: white;" type="submit" value="Submit">
        </form>
    </div>
</div>
<script>
    var page = "login";
</script>
{% endblock %}