{% extends 'master.html' %} {% block content %}
<div style="position:fixed; bottom:0; right:0; left:0; z-index:10; padding:1rem;">
    <h1 style="float:left; display:inline-block; color:white;">How I Feel When I'm Drawing</h1>
    <h2 style="float:right; display:inline-block; color:white;">
        Built with <a href="https://www.mixamo.com" title="mixamo">mixamo</a> and <a href="https://threejs.org" title="three JS">threejs</a>
    </h2>
</div>
<script type="module" src="/static/js/three/my-three.js"></script>
{% endblock %}