{% extends "master.html" %} {% load static %} {% block content %} {% include 'include/purechatapi.html' %}

<div class="text-center header_container">
    <div></div>
    {% include 'include/svg.html' %}
    <div></div>
    <iframe src="https://open.spotify.com/embed/track/7qw4F9ebIh2z1dSBpJMfdt" allowtransparency="true" allow="encrypted-media" width="300" height="380" frameborder="0"></iframe>
</div>

<style>
    #video_scroll_animation_container {
        height: max-content;
        position: static;
        background: white;
        text-align: center;
    }
</style>

{% include 'include/bio.html' %}
<script>
    $(window).on('scroll', function() {
        $(".bio_header").each(function() {
            if (isScrolledIntoView($(this))) {
                $(this).addClass('text-flicker-in-glow').removeClass('black_bio_header');
            } else {
                $(this).removeClass('text-flicker-in-glow').addClass('black_bio_header');
            }
        });
    });

    function isScrolledIntoView(elem) {
        var docViewTop = $(window).scrollTop();
        var docViewBottom = docViewTop + $(window).height();

        var elemTop = $(elem).offset().top;
        var elemBottom = elemTop + $(elem).height();

        return ((elemBottom <= docViewBottom) && (elemTop >= docViewTop));
    }
</script>

{% include 'include/pricing.html' %}
<!---->
{% include 'include/commission_me.html' %}
<div id="colorlib-page">
    <div id="colorlib-main" class="w-100">
        <section class="ftco-section-2">
            <div class="photograhy">
                <div class="row no-gutters">
                    {% include 'include/portfolio-loop.html' %}
                </div>
            </div>
        </section>

        {% include 'include/footer.html' %}
    </div>
    <!-- END COLORLIB-MAIN -->
</div>
<!-- END COLORLIB-PAGE -->
<script>
    var page = "home";
</script>
{% endblock %}